body {
    font-family: arial, sans-serif;
    font-size: 9pt;
    color: #333;
}

div.viewer {
    width: 600px;
    height: 350px;
    
    div.rooms {
        width: 150px;
        float: left;
        position: relative;

        div.header {
            background: #fff;
            padding: 10px 0;
            height: 30px;
        }

        div.settings, div.room {
            padding: 5px 5px 5px 18px;
        }

        div.settings {
            border-top: 1px solid #eae59d;
            border-bottom: 1px solid #eae59d;
            border-right: 1px solid #eae59d;
            background: #fcf8bb url("../images/settings.png") no-repeat 3px 7px;
            color: #726c24;
            cursor: pointer;
        }

        div.settings:hover {
            background-color: #f9f5b1;
        }

        div.scroll-up,
        div.scroll-down {
            width: 150px;
            height: 10px;
            opacity: 0;
            margin-top: 3px;
        }

        div.scroll-up.active,
        div.scroll-down.active {
            opacity: 0.5;
            cursor: pointer;
        }

        div.scroll-up.active:hover,
        div.scroll-down.active:hover {
            opacity: 1.0;
        }

        div.scroll-up {
            background: url("../images/scroll-up.png") no-repeat 50% 2px;
        }

        div.scroll-down {
            background: url("../images/scroll-down.png") no-repeat 50% 0;
        }

        div.list {
            height: 287px;
            overflow: hidden;
            position: relative;
        }

        div.room {
            border-top: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            margin-bottom: 2px;
        }

        div.room.active {
            background: #f1f1f1 url("../images/active.png") no-repeat 3px 8px;
        }

        div.room.inactive {
             background: #f1f1f1 url("../images/inactive.png") no-repeat 3px 8px;
             color: #888;
        }

        div.room.locked {
            background: #f1f1f1 url("../images/lock.png") no-repeat 3px 8px;
        }

        div.room:hover {
            background-color: #eaeaea !important;
        }

        div.room.selected {
            border: 0;
            background-color: #fff;
            cursor: default;
        }

        div.room.selected:hover {
            background-color: #fff !important;
        }

        div.room.last {
            border-bottom: 1px solid #ddd;
        }
    }

    div.content {
        float: left;
        width: 415px;
        margin: 50px 0 0 20px;

        ul.tabs {
            li {
                list-style: none;
                display: inline-block;
                padding: 5px 10px 5px 25px;
                cursor: pointer;
            }

            li.chat {
                background: url("../images/chat.png") no-repeat 8px 5px;
            }

            li.starred {
                background: url("../images/star.png") no-repeat 8px 4px;
            }

            li.files {
                background: url("../images/files.png") no-repeat 8px 4px;
            }

            li.selected {
                background-color: #f1f1f1;
                border-left: 1px solid #e9e9e9;
                border-right: 1px solid #ddd;
                border-top: 1px solid #e9e9e9;
            }

            li.selected:hover {
                background-color: #f1f1f1;
                cursor: default;
                border-left: 1px solid #e9e9e9;
                border-right: 1px solid #ddd;
                border-top: 1px solid #e9e9e9;
            }
        }

        div.tab-content {
            background: #f1f1f1;
            height: 255px;
            padding: 10px;
            border-top: 1px solid #e9e9e9;
            border-left: 1px solid #e9e9e9;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            margin-top: -1px;

            div.group {
                background: #fff;
                height: 200px;
                border-top: 1px solid #ddd;
                border-left: 1px solid #ddd;
                border-right: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;

                div.conversation {
                    float: left;
                    padding: 5px;
                    width: 383px;
                    overflow: auto;
                    height: 190px;

                    div.activity {
                        padding: 3px;
                        margin-bottom: 2px;

                        span.text {
                            width: 300px;
                            float: left;
                        }

                        span.time {
                            float: right;
                            color: #999;
                        }
                    }

                    div.presence {
                        background: #fcf8bb;
                    }

                    div.who {
                        background: #f3f3f3;
                    }

                    div.message span.star {
                        opacity: 0;
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        cursor: pointer;
                    }

                    div.message:hover span.star {
                        opacity: 1.0;
                        background: url("../images/star-inactive.png") no-repeat;
                    }

                    div.message.starred span.star {
                        opacity: 1.0;
                        background: url("../images/star.png") no-repeat;
                    }
                }

                div.conversation::-webkit-scrollbar {
                    height: 0.5ex;
                    width: 8px;
                    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#D6D6D6), color-stop(40%,#F4F4F4), color-stop(81%,#F4F4F4), color-stop(100%,#D6D6D6));
                }

                div.conversation::-webkit-scrollbar-thumb {
                    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#EFEFEF), color-stop(100%,#DEDEDE));
                    border: 1px solid #ccc;
                }

                div.conversation::-webkit-scrollbar-thumb:hover {
                    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#F3F3F3), color-stop(100%,#E3E3E3));
                }

                div.sidebar {
                    float: right;
                }
            }

            div.send {
                margin-top: 10px;
                padding: 5px;
                background: #fff;
                border-top: 1px solid #ddd;
                border-left: 1px solid #ddd;
                border-right: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;

                textarea {
                    overflow: hidden;
                    border: 0;
                    outline: 0;
                    float: left;
                    margin-right: 5px;
                    width: 314px;
                    resize: none;
                }
            }
        }
    }

    div.content.join-room {
        text-align: center;

        span {
            font-size: 12pt;
            cursor: default;
        }
    }
}

div.blank-slate {
    width: 190px;
    padding: 20px;
    text-align: center;

    span {
        font-size: 12pt;
        display: block;
        cursor: default;
        margin-bottom: 10px;
    }

    img {
        margin-bottom: 20px;
    }
}

div.clear {
    clear: both;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 10pt/100%;
    padding: .3em 1em .3em;
    -webkit-border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

button.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
}

button.white:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
}