/* mixins */
.scrollbar-thumb {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #efefef), color-stop(100%, #dedede));
  border: 1px solid #ccc;
}
.scrollbar-thumb-hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f3f3f3), color-stop(100%, #e3e3e3));
}
body {
  font-family: arial, sans-serif;
  font-size: 9pt;
  color: #333;
}
div.viewer {
  width: 615px;
}
div.viewer div.rooms {
  width: 150px;
  float: left;
  margin-left: 15px;
  position: relative;
}
div.viewer div.rooms div.header {
  background: #fff;
  padding: 10px 0;
  height: 30px;
}
div.viewer div.rooms div.settings, div.viewer div.rooms div.room {
  padding: 5px 5px 5px 21px;
}
div.viewer div.rooms div.settings {
  border: 1px solid #eae59d;
  background: #fcf8bb url("../images/settings.png") no-repeat 6px 7px;
  color: #726c24;
  cursor: pointer;
}
div.viewer div.rooms div.settings:hover {
  background-color: #f9f5b1;
}
div.viewer div.rooms div.scroll-up, div.viewer div.rooms div.scroll-down {
  width: 150px;
  height: 10px;
  opacity: 0;
  margin-top: 3px;
}
div.viewer div.rooms div.scroll-up.active, div.viewer div.rooms div.scroll-down.active {
  opacity: 0.5;
  cursor: pointer;
}
div.viewer div.rooms div.scroll-up.active:hover, div.viewer div.rooms div.scroll-down.active:hover {
  opacity: 1.0;
}
div.viewer div.rooms div.scroll-up {
  background: url("../images/scroll-up.png") no-repeat 50% 2px;
}
div.viewer div.rooms div.scroll-down {
  background: url("../images/scroll-down.png") no-repeat 50% 0;
}
div.viewer div.rooms div.list {
  height: 287px;
  overflow: hidden;
  position: relative;
}
div.viewer div.rooms div.room {
  border-left: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  margin-bottom: 2px;
}
div.viewer div.rooms div.room.active {
  background: #f1f1f1 url("../images/active.png") no-repeat 6px 8px;
}
div.viewer div.rooms div.room.inactive {
  background: #f1f1f1 url("../images/inactive.png") no-repeat 6px 8px;
  color: #888;
}
div.viewer div.rooms div.room.locked {
  background: #f1f1f1 url("../images/lock.png") no-repeat 6px 8px;
}
div.viewer div.rooms div.room:hover {
  background-color: #eaeaea !important;
}
div.viewer div.rooms div.room.selected {
  border: 1px solid #fff;
  background-color: #fff;
  cursor: default;
}
div.viewer div.rooms div.room.selected:hover {
  background-color: #fff !important;
}
div.viewer div.rooms div.room.last {
  border-bottom: 1px solid #ddd;
}
div.viewer div.content {
  float: left;
  width: 415px;
  margin: 50px 0 0 20px;
}
div.viewer div.content ul.tabs li {
  list-style: none;
  display: inline-block;
  padding: 5px 10px 5px 25px;
  cursor: pointer;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
}
div.viewer div.content ul.tabs li.chat {
  background: url("../images/chat.png") no-repeat 8px 5px;
}
div.viewer div.content ul.tabs li.users {
  background: url("../images/users.png") no-repeat 11px 6px;
  padding-left: 28px;
}
div.viewer div.content ul.tabs li.files {
  background: url("../images/files.png") no-repeat 8px 4px;
}
div.viewer div.content ul.tabs li.search {
  background: url("../images/search.png") no-repeat 9px 6px;
}
div.viewer div.content ul.tabs li.selected {
  background-color: #f1f1f1;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #ddd;
  border-top: 1px solid #e9e9e9;
}
div.viewer div.content ul.tabs li.selected:hover {
  background-color: #f1f1f1;
  cursor: default;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #ddd;
  border-top: 1px solid #e9e9e9;
}
div.viewer div.content div.tab-content {
  background: #f1f1f1;
  height: 280px;
  padding: 10px;
  border-top: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: -1px;
}
div.viewer div.content div.tab-content div.group {
  background: #fff;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
div.viewer div.content div.tab-content div.group div.info {
  background: #f7f7f7;
  height: 22px;
  padding: 3px;
}
div.viewer div.content div.tab-content div.group div.info a {
  font-size: 8pt;
  color: #555;
  display: inline-block;
  margin-left: 2px;
  text-decoration: none;
}
div.viewer div.content div.tab-content div.group div.info a:hover {
  text-decoration: underline;
}
div.viewer div.content div.tab-content div.group div.info select {
  font-size: 8pt;
  border: 1px solid #ccc;
  outline: 0;
}
div.viewer div.content div.tab-content div.group div.info select option {
  padding: 0.2em;
}
div.viewer div.content div.tab-content div.group div.info select.users-filter {
  width: 80px;
}
div.viewer div.content div.tab-content div.group div.info select.types-filter {
  width: 80px;
}
div.viewer div.content div.tab-content div.group div.info.title {
  cursor: default;
  padding: 7px 6px;
  height: 14px;
}
div.viewer div.content div.tab-content div.group div.overhang {
  width: 391px;
  height: 5px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(99%, rgba(255, 255, 255, 0)));
  position: absolute;
  top: 28px;
  opacity: 0.3;
}
div.viewer div.content div.tab-content.chat div.group {
  height: 228px;
}
div.viewer div.content div.tab-content.chat div.group div.conversation {
  float: left;
  padding: 5px;
  width: 382px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 190px;
}
div.viewer div.content div.tab-content.chat div.group div.conversation div.activity {
  padding: 3px;
  border-bottom: 1px solid #f3f3f3;
}
div.viewer div.content div.tab-content.chat div.group div.conversation div.activity span.text {
  width: 300px;
  float: left;
}
div.viewer div.content div.tab-content.chat div.group div.conversation div.activity span.text pre {
  font-family: monospace;
  background-color: #f3f3f3;
  white-space: pre-wrap;
  border-top: 1px dotted #999;
  border-bottom: 1px dotted #999;
  padding: 3px 0;
}
div.viewer div.content div.tab-content.chat div.group div.conversation div.activity span.time {
  float: right;
  color: #999;
}
div.viewer div.content div.tab-content.chat div.group div.conversation div.enter, div.viewer div.content div.tab-content.chat div.group div.conversation div.leave {
  background: #D9E7FB;
}
div.viewer div.content div.tab-content.chat div.group div.conversation div.who {
  background: #f3f3f3;
}
div.viewer div.content div.tab-content.chat div.group div.conversation div.timestamp {
  color: #aaa;
}
div.viewer div.content div.tab-content.chat div.group div.conversation div.lock, div.viewer div.content div.tab-content.chat div.group div.conversation div.unlock {
  background: #F6C1A9;
}
div.viewer div.content div.tab-content.chat div.group div.conversation div.upload {
  background: url("../images/files.png") no-repeat 0 3px;
  padding-left: 18px;
  height: 15px;
}
div.viewer div.content div.tab-content.chat div.group div.conversation div.text span.star {
  opacity: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
div.viewer div.content div.tab-content.chat div.group div.conversation div.text:hover span.star {
  opacity: 1.0;
  background: url("../images/star-inactive.png") no-repeat;
}
div.viewer div.content div.tab-content.chat div.group div.conversation div.text.starred span.star {
  opacity: 1.0;
  background: url("../images/star.png") no-repeat;
}
div.viewer div.content div.tab-content.chat div.group div.conversation::-webkit-scrollbar {
  height: 0.5ex;
  width: 8px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #d6d6d6), color-stop(40%, #f4f4f4), color-stop(81%, #f4f4f4), color-stop(100%, #d6d6d6));
}
div.viewer div.content div.tab-content.chat div.group div.conversation::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #efefef), color-stop(100%, #dedede));
  border: 1px solid #ccc;
}
div.viewer div.content div.tab-content.chat div.group div.conversation::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f3f3f3), color-stop(100%, #e3e3e3));
}
div.viewer div.content div.tab-content.chat div.send {
  margin-top: 10px;
  padding: 5px;
  background: #fff;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
div.viewer div.content div.tab-content.chat div.send textarea {
  overflow: hidden;
  border: 0;
  outline: 0;
  float: left;
  margin-right: 5px;
  width: 314px;
  resize: none;
}
div.viewer div.content div.tab-content.users div.group {
  height: 280px;
}
div.viewer div.content div.tab-content.users div.group div.list {
  height: 252px;
  overflow-y: auto;
  overflow-x: hidden;
}
div.viewer div.content div.tab-content.users div.group div.list div.user {
  padding: 10px 6px;
  border-bottom: 1px solid #f3f3f3;
  cursor: default;
}
div.viewer div.content div.tab-content.users div.group div.list div.user div.attributes {
  float: left;
}
div.viewer div.content div.tab-content.users div.group div.list div.user div.attributes span {
  display: block;
}
div.viewer div.content div.tab-content.users div.group div.list div.user div.attributes span.email {
  color: #888;
}
div.viewer div.content div.tab-content.users div.group div.list div.user img {
  float: right;
}
div.viewer div.content div.tab-content.users div.group div.list::-webkit-scrollbar {
  height: 0.5ex;
  width: 8px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #d6d6d6), color-stop(40%, #f4f4f4), color-stop(81%, #f4f4f4), color-stop(100%, #d6d6d6));
}
div.viewer div.content div.tab-content.users div.group div.list::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #efefef), color-stop(100%, #dedede));
  border: 1px solid #ccc;
}
div.viewer div.content div.tab-content.users div.group div.list::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f3f3f3), color-stop(100%, #e3e3e3));
}
div.viewer div.content.join-room {
  text-align: center;
}
div.viewer div.content.join-room span {
  font-size: 12pt;
  cursor: default;
}
div.viewer div.content.joining {
  background: white url("../images/ajax.gif") no-repeat 50% 50%;
  height: 327px;
  opacity: 0.7;
  z-index: 1000;
  position: absolute;
  left: 165px;
}
div.blank-slate {
  width: 190px;
  padding: 20px;
  text-align: center;
}
div.blank-slate span {
  font-size: 12pt;
  display: block;
  cursor: default;
  margin-bottom: 10px;
}
div.blank-slate img {
  margin-bottom: 20px;
}
div.clear {
  clear: both;
}
button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 10pt/100%;
  padding: .3em 1em .3em;
  -webkit-border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
button.white {
  color: #606060;
  border: solid 1px #b7b7b7;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
}
button.white:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dcdcdc));
}
